In [17]:
import pandas as pd
df = pd.read_csv(r'course/input\report.csv', sep=',')
df.shape

(85, 2)

In [18]:
df = df[~df['region_name'].isin(['Белгородская область', 'Сахалинская обл.', 'Ростовская область'])]

In [19]:
df.shape

(82, 2)

In [23]:
df = df.sort_values(by=['salary']).reset_index(drop=True)
print(df.iloc[9])
print(df.iloc[31])
print(df.iloc[41])
df

region_name    Саратовская область
salary                       26555
Name: 9, dtype: object
region_name    Новгородская область
salary                        30820
Name: 31, dtype: object
region_name    Самарская область
salary                     33086
Name: 41, dtype: object

                        region_name  salary
0               Республика Дагестан   24550
1   Кабардино-Балкарская Республика   25318
2              Республика Ингушетия   25663
3   Карачаево-Черкесская Республика   25699
4               Республика Калмыкия   25719
..                              ...     ...
77                      Ненецкий АО   77277
78                        г. Москва   78946
79                Ямало-Ненецкий АО   86560
80                     Чукотский АО   96930
81                 Магаданская обл.  101662

[82 rows x 2 columns]

In [21]:
print(df['salary'].mean(), df['salary'].median(), df['salary'].std())

38605.26829268293 33029.5 16270.138809797947